.filter {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
  }
}

.filter__group {
  max-width: 280px;
  margin-right: auto;
  margin-bottom: 24px;
  margin-left: auto;
  padding: 0;
  border: none;

  @media (min-width: @tablet) {
    margin-right: 30px;
    margin-left: 0;
  }

  @media (min-width: 1014px) {
    margin-right: 50px;
  }

  @media (min-width: 1034px) {
    margin-right: 100px;
  }

  @media (min-width: 1314px) {
    margin-right: 190px;
  }

  @media (min-width: @desktop) {
    margin-right: 0;
    margin-bottom: 30px;
  }

  &--column {
    display: flex;
    flex-direction: column;

    @media (min-width: @tablet) {
      margin-left: 0;
    }

    &:last-child {
      margin-bottom: 30px;
    }
  }

  &--milk {
    margin-bottom: 21px;

    @media (min-width: @tablet) {
      margin-right: 38px;
    }
  }
}

.filter__group-title {
  margin-bottom: 21px;

  @media (min-width: @tablet) {
    padding-inline: 0;
  }

  &--range {
    margin-bottom: 33px;
    padding: 0;

    @media (min-width: @desktop) {
      margin-bottom: 26px;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

.filter__input:checked {
  & + .label::after {
    display: block;
  }

  & + .label::before {
    border-color: var(--color-purple);
  }

  & + .label--for-checkbox::before {
    background-color: var(--color-purple);
  }

  & + .label--for-checkbox::after {
    left: 20px;
  }
}

.filter__input:disabled {
  & + .label {
    color: var(--color-grey);

    &::before {
      border-color: var(--color-middle-grey);
    }

    &::after {
      background-color: var(--color-middle-grey);
    }
  }

  & + .label--for-checkbox {
    &::before {
      background-color: var(--color-middle-grey);
    }

    &::after {
      background-color: var(--color-lightest-grey);
    }
  }
}

.filter__input:checked:disabled {
  & + .label--for-checkbox::after {
    background-color: var(--color-grey);
  }
}

.filter__button {
  width: 160px;
  margin: 35px auto 25px;
  padding: 10px 10px 11px 10px;


  @media (min-width: @tablet) {
    width: 222px;
    margin-top: 14px;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
  }

  @media (min-width: @desktop) {
    width: 318px;
    margin-top: 10px;
    margin-left: 0;
  }

  &--submit {
    font-size: 13px;
    color: var(--color-white);
    background-color: var(--color-purple);
  }

  &--reset {
    margin: 25px auto 40px;
    font-size: 14px;
  }
}
