{% extends "_layout.njk" %}

{% set title = 'Каталог' %}

{% block main %}
<section class="content">
  <header class="content__header">
    <h2 class="content__heading">
      Страница не найдена
    </h2>
  </header>
  <b class="content__lead">
    Вы можете сообщить нам об этом
  </b>
  <footer class="content__slot">
    <dl class="content__list">
      <dt class="content__item">
        Звоните:
      </dt>
      <dd class="content__description">
        <a href="content__link">
          +7 (812) 555-66-66
        </a>
      </dd>
      <dt class="content__item">
        Пишите:
      </dt>
      <dd class="content__description">
        <a href="content__link">
          mail@htmlacademy.ru
        </a>
      </dd>
    </dl>
  </footer>
</section>
{% endblock %}
